.rightbarContent {
  padding: 25px;
  width: 80%;
}

.trends {
  background-color: #ffffff;
 
  border-radius: 25px;
  -webkit-box-shadow: 2px 2px 33px -3px rgba(0,0,0,0.22);
-moz-box-shadow: 2px 2px 33px -3px rgba(0,0,0,0.22);
box-shadow: 2px 2px 33px -3px rgba(0,0,0,0.22);
  margin-top: 40px;
  font-size: 18px;
  overflow: hidden;
}
.headCont{
    display: flex;
    align-items: center;
    justify-content: center;
}
.trend{
    display:flex;
    justify-content: start;
    align-items: center;
    padding-left: 20px;
}

.trend:hover{
    cursor: pointer;
    background-color: #f3f3f3;
}
.trendItem{
    display: flex;
    align-items: center;
}
.trendTxt{
    font-size: 18px;
    font-weight: 90px;
    margin-left: 20px;
}
.hash{
    font-weight:bold;
}